*.tar.bz2
*.tar.gz
*.tar.xz
*.tar.zstd
*.tar.zst
*.sig
*.deb
*.buildinfo
*.changes
*.dsc
*.debhelper.log
*.debhelper
*.substvars
debhelper-build-stamp
files

calaos-server/debian/calaos-server

pkg
src
container.source

calaos-ddns/calaos-ddns
calaos-home/calaos_mobile
calaos-server/calaos_base
calaos-web-app/calaos-web-app
calaos-install-tools/calaos-install-tools
knxd/knxd
ola/ola
xinput_calibrator/xinput_calibrator
calaos-os-conf/calaos-os-conf
