[Unit]
Description=Zigbee2mqtt container
After=local-fs.target
Requires=network.target
After=network.target
RequiresMountsFor=/mnt/calaos

[Service]
Restart=always
ExecStartPre=/usr/sbin/init_calaosfs
ExecStartPre=/usr/sbin/zigbee2mqtt_pre
ExecStartPre=/usr/sbin/load_containers_cache zigbee2mqtt docker.io/koenkk/zigbee2mqtt
KillMode=mixed
ExecStop=/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/bin/rm -f %t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/sbin/start_z2mqtt %t/%N.cid

[Install]
WantedBy=multi-user.target