[Unit]
Description=Calaos home automation touchscreen UI
After=local-fs.target
Requires=network.target
After=network.target
RequiresMountsFor=/mnt/calaos

[Service]
Restart=always
ExecStartPre=/usr/sbin/init_calaosfs
ExecStartPre=/usr/sbin/load_containers_cache calaos-home ghcr.io/calaos/calaos_home
KillMode=mixed
ExecStop=/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/bin/rm -f %t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N

ExecStart=/usr/sbin/start_calaos_home %t/%N.cid

RestartSec=2

TTYPath=/dev/tty8
StandardInput=tty

# Wait 1s before starting X. Sometimes the dri driver is not fully loaded and
# Xorg start with a wrong resolution
ExecStartPre=/usr/bin/sleep 1
ExecStartPre=/bin/chvt 8

[Install]
WantedBy=multi-user.target
