Source: calaos-home
Section: admin
Priority: optional
Maintainer: Calaos Team <team@calaos.fr>
Build-Depends: debhelper (>= 11), pkgconf
Standards-Version: 4.6.2
Homepage: https://calaos.fr

Package: calaos-home
Architecture: any
Description: Calaos Home Touchscreen service
 Calaos Home is the touchscreen GUI service of Calaos project.
Depends: podman, calaos-container