[Unit]
Description=calaos-server container
After=local-fs.target
Requires=network.target
After=network.target
RequiresMountsFor=/mnt/calaos

[Service]
Restart=always
ExecStartPre=/usr/sbin/init_calaosfs.sh
ExecStartPre=/usr/sbin/load_containers_cache.sh calaos-server ghcr.io/calaos/calaos_base
KillMode=mixed
ExecStop=/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/bin/rm -f %t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/bin/podman run \
        --name=calaos-server \
        --cidfile=%t/%N.cid --replace --rm --cgroups=split --tz=local \
        --sdnotify=conmon -d \
        -v /mnt/calaos/cache:/root/.cache/calaos/ \
        -v /mnt/calaos/config:/root/.config/calaos \
        -v /run/calaos:/run/calaos \
        --network=host \
        ghcr.io/calaos/calaos_base \
        /opt/bin/calaos_server

[Install]
WantedBy=multi-user.target