Source: calaos-server
Maintainer: Calaos Team <team@calaos.fr>
Build-Depends: debhelper (>= 11), pkgconf

Package: calaos-server
Architecture: any
Description: Calaos-server service
Depends: ${misc:Depends}, ${shlibs:Depends},
         bash, podman, calaos-container