[Unit]
Description=influxdb container
After=local-fs.target calaos-boot.service
Requires=network.target calaos-boot.service
After=network.target
RequiresMountsFor=/mnt/calaos

[Service]
Restart=always
ExecStartPre=/usr/sbin/init_calaosfs
KillMode=mixed
ExecStop=/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/bin/rm -f %t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
EnvironmentFile=/usr/share/calaos/calaos-influxdb.source

ExecStart=/usr/bin/podman run \
        --name=influxdb \
        --cidfile=%t/%N.cid --replace --rm --cgroups=split --tz=local \
        --sdnotify=conmon -d \
        -v /mnt/calaos/influxdb/data:/var/lib/influxdb2 \
        -v /mnt/calaos/influxdb/config:/etc/influxdb2 \
        --network=host \
        --pull=never \
        --replace \
        --tz=local \
        ${IMAGE_SRC}

[Install]
WantedBy=multi-user.target
