Source: calaos-haproxy
Section: admin
Priority: optional
Maintainer: Calaos Team <team@calaos.fr>
Build-Depends: debhelper (>= 11), pkgconf
Standards-Version: 4.6.2
Homepage: https://calaos.fr

Package: calaos-haproxy
Architecture: any
Description: Calaos haproxy container service
 This package is the containerized version that calaos-os needs to run
Depends: podman, calaos-container