[Unit]
Description=mosquitto MQTT container
After=local-fs.target calaos-boot.service
Requires=network.target calaos-boot.service
After=network.target
RequiresMountsFor=/mnt/calaos

[Service]
Restart=always
ExecStartPre=/usr/sbin/init_calaosfs
ExecStartPre=/usr/sbin/mosquitto_pre
ExecStartPre=/usr/sbin/load_containers_cache mosquitto docker.io/eclipse-mosquitto
KillMode=mixed
ExecStop=/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/bin/rm -f %t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/bin/podman run \
        --name=mosquitto \
        --cidfile=%t/%N.cid --replace --rm --cgroups=split --tz=local \
        --sdnotify=conmon -d \
        -v /mnt/calaos/mosquitto/config:/mosquitto/config \
        -v /mnt/calaos/mosquitto/data:/mosquitto/data \
        --network=host \
        docker.io/eclipse-mosquitto

[Install]
WantedBy=multi-user.target
